<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GithubIssueMover.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GithubIssueMover.Properties.Settings>
            <setting name="SourceUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceName" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceOwner" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceToken" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetName" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetOwner" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetToken" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyMilestones" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyLabels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteExistingLabels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyIssues" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateOriginalShortcut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseMovedIssues" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoveCommentlessIssuesOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoveOpenOnly" serializeAs="String">
                <value>False</value>
            </setting>
        </GithubIssueMover.Properties.Settings>
    </userSettings>
</configuration>